<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <p>Welcome</p>
    <p>Please click the link to confirm your email: <%= @url %></p>
  </body>
</html>